### Q1) Declare an float value and store it in a variable.Check the type and print the id of the same.

In [4]:
a=6.0 #Declaring float value 6 and storing it in a
print("the type of a is:",type(a))  # For Checking the type 
print("the id of a is:",id(a)) # For checking the id

the type of a is: <class 'float'>
the id of a is: 1729747346128

### Q2) Arithmetic Operations on Float
### Take two different float values.Store them in two different variables.Do below operations on them:-
1. Find sum of both numbers
2. Find difference between them
3. Find the product of both numbers.
4. Find value after dividing first num with second number
5. Find the remainder after dividing first number with second number
6. Find the quotient after dividing first number with second number
7. Find the result of the first num to the power of the second number.

In [3]:
a=10.9
b=5.1
print("Sum of both numbers is:",a+b)
print()#It is used create an empty line in the output or seperate each outputs to make it more readable
print("Difference between them is:",a-b)
print()
print("Product of both numbers is:",a*b)
print()
print("Value after dividing first number with second number is:",a/b)
print()
print("Remainder after dividing first number with second is:",a%b)
print()
print("Quotient after dividing first number with second is:",a//b)
print()
print("Result of the first num to the power of the second number:",a**b)

Sum of both numbers is: 16.0

Difference between them is: 5.800000000000001

Product of both numbers is: 55.589999999999996

Value after dividing first number with second number is: 2.1372549019607847

Remainder after dividing first number with second is: 0.7000000000000011

Quotient after dividing first number with second is: 2.0

Result of the first num to the power of the second number: 195377.7660167636

### Q3) Comparison Operators on float
### Take two different float values.Store them in two different variables. Do below operations on them:-
### Compare the two numbers with below operator:-
1. Greater than, '>'
2. Smaller than, '<'
3. Greater than or equal to, '>='
4. Less than or equal to, '<='
5. Observe their output(return type should be boolean)

In [6]:
a=3.0
b=4.2
print("greater than value is:",a>b,type(a>b),sep='--->')
print()
print("less than value is:",a<b,type(a<b),sep='--->')
print()
print("greater than or equals value is:",a>=b,type(a>=b),sep='--->')
print()
print("less than or equals value is:",a<=b,type(a<=b),sep='--->')

greater than value is:--->False---><class 'bool'>

less than value is:--->True---><class 'bool'>

greater than or equals value is:--->False---><class 'bool'>

less than or equals value is:--->True---><class 'bool'>

## Q4) Equality Operator
### Take two different float values.Store them in two different variables.
1. Equate them using equality operators (==, !=)
2. Observe the output(return type should be boolean)

In [7]:
a=5.7
b=4.6
print("equal to value is:",a==b,type(a==b),sep='--->')
print("not equals value is:",a!=b,type(a!=b),sep='--->')

equal to value is:--->False---><class 'bool'>
not equals value is:--->True---><class 'bool'>

## Q5)Logical operators
### Observe the output of below code . Cross check the output manually
1. print(10.20 and 20.30) 
#both are true and second value taken-->Output is 20.3

2. print(0.0 and 20.30) 
#First is false so first valuetaken->Output is 0.0

3. print(20.30 and 0.0) 
#Goes to till second and second value is false so second is taken>Output is 0.0

4. print(0.0 and 0.0) 
#First is false so first value is taken->Output is 0.0

5. print(10.20 or 20.30) 
#First is True so first value is taken>Output is 10.2

6. print(0.0 or 20.30)
#Goes to till second and second is true second value is taken->Output is 20.3

7. print(20.30 or 0.0) 
#First is True so first value is taken->Output is 20.3

8. print(0.0 or 0.0) 
#Goes to till second and second is also false and second value is taken>Output is 0.0

9. print(not 10.20) 
#Not of true is false->Output is False

10. print(not 0.0) 
#Not of false is True>Output is True

In [8]:
print(10.20 and 20.30) 
#both are true and second value taken>Output is 20.3

print(0.0 and 20.30) 
#First is false so first value taken->Output is 0.0

print(20.30 and 0.0) 
#Goes to till second and second value is false so second is taken>Output is 0.0

print(0.0 and 0.0) 
#First is false so first value is taken->Output is 0.0

print(10.20 or 20.30) 
#First is True so first value istaken>Output is 10.2

print(0.0 or 20.30)
#Goes to till second and second is true second value is taken->Output is 20.3

print(20.30 or 0.0) 
#First is True so first value is taken->Output is 20.3

print(0.0 or 0.0) 
#Goes to till second and second is also false and second value is taken>Output is 0.0

print(not 10.20) #-Not of true is false->Output is False

print(not 0.0) #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

### Q6) What is the output of expression inside print statement. Cross check before running the program.
1. a = 10.20
2. b - 10.20
3. print(a is b) #True or False? 
4. print(a is not b) #True or False? 
5. Why the Id of float values are different when the same value is assigned to two different variables ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a and c's Id are same

In [14]:
print("Answers of 1,2 are as follows:")
a = 10.20
b = 10.20
print(a is b) # False
print(a is not b) # False
print()
k = 10.5
l = 10.5
m = k
print("The answers of 5 is as follows:")
print(id(k))
print(id(l))
print(id(m))
#In this case k and l have the same float values but python may choose to represent them as separate objects in memory. 
#However, when we assign c = a, we are making c reference the same object as a. Therefore, id(c) will be the same as id(a)

Answers of 1,2 are as follows:
False
True

The answers of 5 is as follows:
1729747341648
1729747350128
1729747341648

### Q7) Bitwise operation is not applicable between instances of float.Why the Id of float values are different when the same value is assigned to two different variables ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a and c's Id are same object reusability concept is not applicable on float values.

In [15]:
#Bitwise operators in Python (&, |, ^, <<, and >>) are designed to work with integers.
#for it to work on float values we first need to convert float value to int value int
#example int(10.5)&int(10.5)=9,But here the fractional part would be removed i.e 10.5 will become 10 
#So it is not applicable for float
k = 10.5
l = 10.5
m = k
print("The answers is as follows:")
print(id(k))
print(id(l))
print(id(m))
#In this case k and l have the same float values but python may choose to represent them as separate objects in memory. 
#However, when we assign c = a, we are making c reference the same object as a. Therefore, id(c) will be the same as id(a)

The answers is as follows:
1729747341840
1729747352144
1729747341840

## Q8) Membership operation
### in, not in are two membership operators and it returns boolean value
1. print('2.7' in 'Python2.7.8') #True
2. print(10.20 in [10,10.20,10+20j,'Python']) #True
3. print(10.20 in (10,10.20,10+20j,'Python')) # True
4. print(20.30 in {1,20.30,30+40j}) # True
5. print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
6. print(10 in range(20)) # True

In [17]:
print('2.7' in 'Python2.7.8',type('2.7' in 'Python2.7.8')) #True
print(10.20 in [10,10.20,10+20j,'Python'],type(10.20 in [10,10.20,10+20j,'Python'])) #True
print(10.20 in (10,10.20,10+20j,'Python'),type(10.20 in (10,10.20,10+20j,'Python'))) # True
print(20.30 in {1,20.30,30+40j},type(20.30 in {1,20.30,30+40j})) # True
print(2.3 in {1:100, 2.3:200, 30+40j:300},type(2.3 in {1:100, 2.3:200, 30+40j:300})) # True
print(10 in range(20),type(10 in range(20)))

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>